html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: #fff;
}


h1 {
  font-size: 3rem;
  margin-top: 0.5rem;
  color: #ff0000;
  font-family: Rockwell, Georgia, "Times New Roman", serif;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;    
  z-index: -1;          
}


.overlay {
  position: relative;   
  z-index: 1;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
}


.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: -1;
}




